body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: rgb(15, 15, 16);
}

form {
  display: flex;
  flex-direction: column;
}
.title-1{
  display: flex;
  width: 50vw;
  font-size: 24px;
}
#quiz-title{
  width: 51%;
  padding: 10px;
  border-color: rgb(134, 105, 209);
}
.question-item {
  margin-bottom: 20px;
  margin-top: 20px;
}

.question-item label {
  display: block;
  margin-bottom: 5px;
}

.question-item input[type="text"],
.question-item input[type="file"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.option-text, .result-text {
  margin-bottom: 5px;
}

button {
  padding: 10px;
  background: #8c55b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background: #0056b3;
}

#quizzes-container {
  margin-top: 20px;
}

.quiz {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.quiz h3 {
  margin-top: 0;
}

.quiz img {
  max-width: 100%;
  border-radius: 10px;
}

.question {
  margin-bottom: 20px;
}

.option {
  margin: 5px 0;
}

.result {
  font-weight: bold;
}